{% extends 'dashboard_base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Add S3  Buckets" %}{% endblock %}
{% block content %}
    <main>
    <div class="row dashboardControls">
      <div class="col s12 m12 l8">
        <div class="card darken-1 topcard">
          <div class="card-content white-text">
            <span class="card-title">Performance Analysis</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. Hey the material design is really cool. Make some space for yourself to get equal with the other divisons. This should work work work worknow.  Make some space for yourself to get equal with the other divisons.  This should work work  worknow. </p>
          </div>
          <div class="card-action">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="card topcard">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://materializecss.com/images/office.jpg">
          </div>
         <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to Close<i class="right material-icons">done</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.Hey the material design is really cool. Make some space for yourself.</p>
        </div>
       </div>
      </div>
    </div>
    <div class="row dashboardControls">
      <div class="col s12 m12 l6">
        <div class="card darken-1">
          <div class="card-content white-text">
            <span class="card-title">Show Requested Jobs</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="card darken-1">
          <div class="card-content white-text">
            <span class="card-title">Show Trained Models</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row dashboardControls">
      <div class="col s12 m12 l4">
        <div class="card darken-1">
          <div class="card-content white-text">
            <span class="card-title">Goto DIGITS Workspace</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="card darken-1">
          <div class="card-content white-text">
            <span class="card-title">About Us</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="card darken-1">
          <div class="card-content white-text">
            <span class="card-title">Current Running Jobs</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
    </main>
{% endblock %}