
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CloudCV Home</title>
  <link href="/static/material/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/material/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/material/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
   <header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Welcome to CloudCV</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="#" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="/static/material/materialize.svg">Your browser does not support SVG</object></a></li>
        <li class="bold"><a class="waves-effect active waves-teal">Home</a></li>
        <li class="bold"><a class="waves-effect waves-teal">Classifier</a></li>
        <li class="bold"><a class="waves-effect waves-teal">Train a Class</a></li>
        <li class="bold"><a class="waves-effect waves-teal">Test a Class</a></li>
        <li class="bold"><a class="waves-effect waves-teal">Image Stitch</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Decaf Server</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Object Detection</a></li>
      </ul>
    </header>
      <main><div class="container">
  <div class="row">

    <div class="col s12 m9 l10">


      <div>
        <div id="grid-container" class="section scrollspy">
          <p class="caption">Large-Scale Distributed Computer Vision As A Cloud Service</p>
          <h3 class="header">Introduction</h3>
          <p>We are witnessing a proliferation of massive visual data. Unfortunately scaling existing computer vision algorithms to large datasets leaves researchers repeatedly solving the same algorithmic and infrastructural problems. Our goal is to democratize computer vision; one should not have to be a computer vision, big data and distributed computing expert to have access to state-of-the-art distributed computer vision algorithms.</p><p>We provide access to state-of-art distributed computer vision algorithms as a cloud service through Web Interface & APIs. Researchers, Students and Developers will be able to access these distributed computer vision algorithms and the computation power through small number of click and minimal lines of code. </p>
          <h4>Try CloudCV</h4>
          <p>Try the Python and Matlab API provided by CloudCV using the Following links:</p>
          <div class="row">
            <div class="col s4">
            <a id="container-toggle-button" class="btn waves-effect waves-light" href="https://github.com/batra-mlp-lab/pcloudcv/">Python Repository </a>
            </div>
            <div class="col s4">
            <a id="container-toggle-button" class="btn waves-effect waves-light" href="https://github.com/batra-mlp-lab/mcloudcv/">Matlab Repository</a>
            </div>
          </div>
    </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/material/js/materialize.js"></script>
  <script src="/static/material/js/init.js"></script>
  </body>
</html>
