
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CloudCV Home</title>
  <link href="/static/material/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/material/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/dropzone.js"></script>
  <link rel="stylesheet" href="/static/css/dropzone.css">
</head>
<style type="text/css">
  #div1{
    margin-bottom: -25px;
  }
  #div2{
    margin-bottom: -25px;
  }
  #div3{
    margin-bottom: -25px;
  }
  #login1{
    background-color: #007EE5;
  }
  #login2{
    background-color: #C33B2B;
  }
  #login3{
    background-color: #323131;
  }
  .btn-large {
    width:100%;
  }
/*  #login1:hover {
    background-color: #007EE5;
}
  #login2:hover {
    background-color: #C33B2B;
}
  #login3:hover {
    background-color: #323131;
}*/
</style>
<body>
   <header>
      <nav class="top-nav" id="tr">
        <div class="container" >
          <div class="col s12 m9">
            <h1 class="header white-text center-on-small-only" >Train Category</h1>
          </div>
          </div>
        </div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu" style="margin-left:-25px;"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="#" class="brand-logo">
            <object id="front-page-logo" type="image/png" data="/static/material/cloud.png">Your browser does not support SVG</object></a></li>
            {% if user.is_authenticated %}
        <li class="bold"><a class="waves-effect active waves-teal" href="/">Hi, {{ user.first_name }} {{ user.last_name }}</a></li>
        {% else %}
        <li class="bold"><a class="waves-effect active waves-teal" href="/">Home</a></li>
        {% endif %}
        <li class="bold"><a class="waves-effect waves-teal" href="#">Classifier</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion" id="nav1">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Train and Test</a>
              <div class="collapsible-body">
                <ul>
                  <li><a class="waves-effect waves-teal" href="#tr">Train a Category</a></li>
                  <li><a class="waves-effect waves-teal" href="#here">Test a Category</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a class="waves-effect waves-teal">Image Stitch</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Decaf Server</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Object Detection</a></li>
        {% if user.is_authenticated %}
        <div class="divider"></div>
        <li class="bold"><a href="/logout" class="waves-effect waves-teal">Logout</a></li>
        <div class="divider"></div>
        {% endif %}
      </ul>
    </header>
      <main>
      <div class="container">
  <div class="row">
    <div class="col s12 m8 l9">
        <div id="grid-container" class="section scrollspy">
          <h3 class="header">Upload Images to Train a Category</h3>
          <p>Instructions:</p>
          <ol class="grey-text darken-3">
            <li>Type the new category label, and press the Add Label button.</li>
            <li>Upload images for this label by pressing the label_name: Add Images button.</li>
            <li>Repeat steps (1) and (2) in sequence to add more categories if needed.</li>
            <li>You can train the new model by clicking "Train a model" button.</li>
            <li>Finally upload the test images by creating a label: test. Press Test the new model to see the predictions of your new classifier</li>
            <li>For good performance, you should upload at least 5 to 10 images for each label. For a large number of images, we recommend using the CloudCV Python and MATLAB APIs.</li>
          </ol>
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="category" name="category" type="text" required="True">
                  <label for="category">Category Name or Dropbox Url</label>
                </div>
          <a class="waves-effect waves-light btn" id="submit" onclick="fetchImages();"><i class="mdi-maps-directions-train left"></i>Start Training</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if not user.is_authenticated %}
    <div class="col center-on-small-only s12 m4 l3">
    <div class="toc-wrapper">
      <p>LOGIN USING:</p>
    </div>
    <div class="row">
      <div class="col s12 m12" id="div1">
          <a class="btn-large waves-effect waves-light" id="login2" href="/google/login/?process=login">GOOGLE<img src="/static/material/gd.png" style="  vertical-align: middle;
  padding-left: 8px;"></a>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m12" id="div1">
        <a class="btn-large waves-effect waves-light"  id="login1" href="/dropbox/login/?process=login">Dropbbox<img src="/static/material/dropbox.png" style="  vertical-align: middle;
  padding-left: 8px;"></a>
      </div>
    </div>
    <div class="row">
      
    <div class="col s12 m12" id="div1">
        <a class="btn-large waves-effect waves-light" id="login3" href="/github/login/?process=login">GITHUB<img src="/static/material/github.png" style="  vertical-align: middle;
  padding-left: 8px;"></a>
      </div>
    </div>
    </div>
      <div style="height: 1px;">
        <ul class="section table-of-contents">
          <li><a href="#tr">Train Model</a></li>
          <li><a href="#here">Test Model</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
    <div class="row light-blue darken-4" style="margin-top:10px;" id="here">
          <div class="col s12 m9">
            <h1 class="header white-text center-on-small-only" id="test">Test a Category</h1>
          </div>
    </div>
            <style type="text/css">
            #test{
              padding-left:11%;
            }
            #heading1{
              margin-top:10px; 
              height: 122px;
              background-color: #01579b;
              font-weight: 300;
              font-size: 4.2rem;
              line-height: 4.62rem;
            }
            </style>
            <div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
        <div id="grid-container" class="section scrollspy">
          <h3 class="header">Upload Images for Testing</h3>
          <p>How it works:</p>
          <ol class="grey-text darken-3">
            <li>You upload images.</li>
            <li>Your request is sent to our servers with GPUs courtesy NVIDIA.</li>
            <li>Our servers run our fast classifier update algorithms to add your new categories to the model.</li>
            <li>You can train the new model by clicking "Train a model" button.</li>
            <li>Results and updates are shown in real-time.</li>
          </ol>
        <div class="rowss" id="aaaa">
                </div>
            <div id="dropzone">
              <form action="/testaclass" class="dropzone" id="demo-upload" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="dz-message" style="color:#01579b;">
                  Drop files here or click to upload.<br />
                </div>
            </form>
             <div class="row">
                <h6 class="grey-text center">OR</h6>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="testimageB" name="testimageB" type="text" >
                    <label for="category">Dropbox Url or Zipped File Url</label>
                  </div>
                  <div class="col s6 m4"></div>
                    <a class="waves-effect waves-light btn" id="testsubmit" ><i class="mdi-editor-format-size
 left"></i>Test the Class</a>

                </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </main>
  <script type="text/javascript">
    function fetchImages() {
      var category = document.getElementById('category').value;
      $.ajax({
            url     : '/trainclass', // the url where we want to POST
            data    : {'category':category},
            type: 'GET',
            success: function() {   },
            error: function() {alert("error");},
          })  
            .done(function(data) {
                       toast('Images are successfuly uploaded and model is trained. :)', 4000);
                      });
                  };
      $('#testsubmit').on('click', function() {
        var trainModel = $("#category").val().length;
        if(trainModel == 0){
           toast('First Train the Model and then test it.', 4000);
        }
        else{ 
          var value = $('#testimageB').val(); 
          var len2 = $('#testimageB').val().length;
          var len1 = $(".dz-size").html();
          if (len1 != null && len2 ){
           toast('You can either use uploaded images or use dropbox url', 4000);
        }
        else{
          $.ajax({
            url     : '/testaclass', // the url where we want to POST
            data    : {'value':value},
            type: 'GET',
            success: function() {   },
            error: function() {alert("error");},
          })  
            .done(function(data) {
                       toast('Images have been successfully uploaded for testing. :)', 4000);
                      });
                  };
        // }
      }
    });
</script>​
    <footer class="page-footer no-margin no-padding">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Images on Cloud</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Copyright CloudCV
        <a class="grey-text text-lighten-4 right" href="#!">CloudCV Home Page</a>
        </div>
      </div>
    </footer>
  </body>
  <script src="/static/material/js/materialize.js"></script>
  <script src="/static/material/js/init.js"></script>
</html>
