<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Train A Model</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/dropzone.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CloudCV</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li class="active"><a href="#">Train a Model</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron" style="padding: 15px 15px; margin-left:10px;">
        <h2 ><b>Train a Model</b></h2>
        <h3 style="font-size:16px;">How it works?</h3>
        <ol>
          <li>Enter the category you want to train. </li>
          <li>We will fetch top 20 images of that category from Google and will train our model using those images.</li>
          <li>Then, upload any image of that category and using our Classifier at the backend we will show the result of the test.</li>
        </ol>
        <div class="form-horizontal" >
            <div class="form-group">
              <div class="col-md-5">
                <label  for="category">Enter the name of Category or Dropbox Url</label>  
                <input   id="category" name="category" type="text" placeholder="Category Name or Dropbox URL" class="form-control input-md" required="">
                <!-- <span class="help-block">Example: Cat</span>   -->
                <div >
                <p></p>
                  <button id="submit" class="btn btn-primary" onclick="fetchImages();">Train the Class </button>
                  <div class="showNotification"></div>
                </div>
              </div>
            </div>
        </div>
      </div>  
      <div   class="container" style="margin-left:auto;">
        <div class="jumbotron" style="padding: 15px 15px; margin-left:10px;" >
          <h2><b>Test the Model</b></h2>
                <div class="rowss" id="aaaa">
                </div>
            <div id="dropzone">
              <form action="/testaclass" class="dropzone" id="demo-upload" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="dz-message">
                  Drop files here or click to upload.<br />
                </div>
            </form>
                <div class="row">
                <p style="text-align:center;">OR</p>
                </div>
                <div class="form-group">
                    <input id="testimageB" name="testimageB" type="text" placeholder="Enter the Dropbox url of Zipped File" class="form-control input-md" >
                </div>
                <div class="col-md-4">
                      <button id="testsubmit" class="btn btn-primary">Test the Class </button>
                </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    function setText() {
      var text = document.getElementById('category').value;
      document.getElementById('submit').innerHTML = "Train the model "+text;
    }
    function fetchImages() {
      var category = document.getElementById('category').value;
      // alert(category);
      // alert("Hey i am starting ajax call");
      $.ajax({
            url     : '/trainclass', // the url where we want to POST
            data    : {'category':category},
            type: 'GET',
            success: function() {   },
            error: function() {alert("error");},
          })  
            .done(function(data) {
                      // bootstrap_alert1 = function() {}
                      // bootstrap_alert1.warning = function(message) {
                          $('.showNotification').html('<div class="row"><div class="col-sm-6"><div class="alert alert-success "><a class="close" data-dismiss="alert">×</a><span>The Images are successfuly uploaded and models are trained.</span></div></div></div>');
                      // }
                      // bootstrap_alert1.warning('The Images are successfuly uploaded and models are trained.');
                      });
            // });
  };
      bootstrap_alert = function() {}
      bootstrap_alert.warning = function(message) {
          $('.rowss').html('<div class="row"><div class="col-sm-6"><div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div></div></div>')
      }
      $('#testsubmit').on('click', function() {
        var len2 = $('#testimageB').val().length;
        var len1 = $(".dz-size").html();
        // alert(len2);
        // alert(len1);
        if (len1 != null && len2 ){
            bootstrap_alert.warning('You can either use uploaded images or use dropbox url');
        }
      });

</script>​
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
