<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Train A Model</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/dropzone.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CloudCV</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li class="active"><a href="#">Train a Model</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h2><b>Train a Model</b></h2>
        <h3 style="font-size:16px;">How it works?</h3>
        <ol>
          <li>Enter the category you want to train. </li>
          <li>We will fetch 20 images of that category from Google and will train our model using those images.</li>
          <li>Then, upload any image of that category and using our Classifier at the backend we will show the result of the test.</li>
        </ol>
        <div class="form-horizontal" >
            <div class="form-group">
              <label class="col-md-6 control-label" for="category">Enter the Category</label>  
              <div class="col-md-6">
              <span class="help-block">Example: Cat</span>  
              <input id="category" name="category" type="text" placeholder="Category Name" class="form-control input-md" required="" onchange="setText();">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label" for="submit"></label>
              <div class="col-md-6">
                <button id="submit" class="btn btn-primary" onclick="fetchImages(); this.disabled=True;">Submit</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label" for="trainaclass"></label>
            <div class="col-md-6">
              <button id="trainaclass" name="trainaclass" class="btn btn-info btn-md  ">Train the Class: Cat</button>
            </div>
          </div>
        </p>
      </div>
      <div class="container">
        <div class="jumbotron">
          <h2>Test the Model</h2>
          <!-- <form class="dropzone" action=""></form> -->
          <form action="/testaclass" class="dropzone"></form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    function setText() {
      var text = document.getElementById('category').value;
      document.getElementById('submit').innerHTML = "Train the model "+text;
    }
    function fetchImages() {
      var category = document.getElementById('category').value;
      // alert(category);
      // alert("Hey i am starting ajax call");
      $.ajax({
            url     : '/trainclass', // the url where we want to POST
            data    : {'category':category},
            type: 'GET',
            success: function() {   },
            error: function() {alert("error");},
          })  
            .done(function(data) {
                      console.log(data);
            });
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
