{% extends "dashboard_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cloud Storages" %}{% endblock %}

{% block content %}
<style type="text/css">
	#heading{
	font-weight: 300;
	text-align: center;
	}
	.btn-large {
	width:100%;
	}
	#nicebox{
	border-top: 4px solid #4c9cdf;
	margin-top:6%;
	background-color: white;
	}
	.waves-effect.waves-blue .waves-ripple {
		background-color: rgb(33,150,243);
	}
	#errorMsg{
	list-style-type: none;
	color: #b11616;
	font-size: 12px;
	text-align: left;
	}
	@media screen and (min-width: 800px) {
	form{
		width: 60%;
		padding-bottom: 8%;
	}
	.container{
	width: 50%;
	}   
}
@media screen and (max-width: 800px) {   
	#heading{
		font-size: 21px;
	}
	form > div:last-child{
		padding-bottom: 10px;
	}
}
#buttondiv{
	overflow: hidden;
}
#submitbtn{
	margin-top: 20px;
}
#footer{
	margin: 0;
	/*position:absolute;*/
	bottom:0;
	width: 100%;
	/*left:0;*/
	/*padding-bottom: 0;*/
}
	#login2{
		background-color: #007EE5;
		width: 80%;
		text-align: center;
	}
	#login1{
		background-color: #C33B2B;
		width: 80%;
}
#login3{
		background-color: white;
		width: 80%;
}
</style>
<body>
	<main>
	<div class="dashboardControls center">
		
		<h4 id="heading">{% trans "Cloud Storages" %}</h4>
		{% if form.accounts %}
			<p align="center">{% blocktrans %}You can use CloudCV using any of the listed Cloud Sotrages: {% endblocktrans %}</p>
			<form method="post" action="{% url 'socialaccount_connections' %}">
			{% csrf_token %}
			<fieldset>
			{% if form.non_field_errors %}
				<div id="errorMsg">{{ form.non_field_errors }}</div>
			{% endif %}
			{% for base_account in form.accounts %}
				{% with base_account.get_provider_account as account %}
					<div class="row">
					<div class="col s12 m12 l8">		
						<input class="with-gap" id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
						<label for="id_account_{{ base_account.id }}">
						<span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
						{{ account }}
						</label>
					</div>
					</div>
				{% endwith %}
			{% endfor %}
				<div>
					<button class="btn btn-primary waves-effect waves-light light-blue darken-2" type="submit">{% trans 'Remove' %}</button>
				</div>
			</fieldset>
			</form>
				{% else %}
				<p align="center">{% trans 'You currently have no Cloud Storage connected to this account.' %}</p>
			{% endif %}
			<h4 id="heading">{% trans 'Add a Cloud Storage' %}</h4>
			<div class="row" >
					<div class="col s12 m12 l4" align="center">
						<a class="btn-large waves-effect waves-red" id="login1" href="/google/login/?process=login"><img src="/static/material/gd.png" style="vertical-align: middle; padding-left: 8px;"> Google</a>
					</div>
					
			</div>
			<div class="row">
				<div class="col s12 m12 l4" id="div2" align="center">
					<a class="btn-large waves-effect waves-blue"  id="login2" href="/dropbox/login/?process=login"><img src="/static/material/dropbox.png" style="vertical-align: middle; padding-left: 8px;"> Dropbbox</a>
				</div>
			</div>
			<div class="row" align="center">
				<div class="col s12 m12 l4" id="div2" align="center">
					<a class="btn-large waves-effect waves-light modal-trigger" href="#s3modal" id="login3"> Amazon S3</a>
				</div>
			</div>
				<div id="s3modal" class="modal">
					<div class="modal-content">
						<div class="row">
							<div class="center input-field col s12 m12 l8">
								<input id="key" type="text" class="validate">
								<label for="key">AWS Access Key</label>
							</div>
						</div>
						<div class="row">
							<div class="center input-field col s12 m12 l8">
								<input id="secret" type="password" class="validate">
								<label for="secret">AWS Access Secret</label>
							</div>
						</div>
						<button class="modal-action modal-close center z-index-1 btn waves-effect waves-light white s3button">Add Key and Secret</button>
					</div>
				</div>
			</div>
		<!-- {% include "socialaccount/snippets/login_extra.html" %} -->	      
	</div>
	</main>
		<script type="text/javascript">
			$(document).ready(function(){
		$('.modal-trigger').leanModal({
				dismissible: true, // Modal can be dismissed by clicking outside of the modal
				opacity: .5, // Opacity of modal background
				in_duration: 300, // Transition in duration
				out_duration: 200, // Transition out duration
				// ready: function() { alert('Ready'); }, // Callback for Modal open
				// complete: function() { alert('Closed'); } // Callback for Modal close
			});

		$(".s3button").click(function(){
			var key = $('#key').val();
			var secret = $('#secret').val();
			$.ajax({
					url: '/s3connect',
					type: 'POST',
					data: { key:key, secret :secret } ,
					// contentType: 'application/json; charset=utf-8',
					success: function (response) {
							Materialize.toast('Successfully Added the Amazon S3 Key and Secret!', 4000);
					},
					error: function () {
							Materialize.toast('Something wrong happened. Please try again!', 4000);
					}
			}); 
	});
		});
	</script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/static/material/js/materialize.js"></script>
	<script src="/static/material/js/init.js"></script>
</body>
</html>
{% endblock %}
